.list-table-format-Category {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format-Category.title {
    background-color: #f9f9f9;
}
.list-table-format-Category img {
    width: 50px;
}
.status {
    width: 70px; /* Ajusta el ancho aquí */
    padding: 3px 7px; /* Ajusta el padding aquí */
    border-radius: 15px;
    color: white;
    text-align: center;
}
.status.active {
    background-color: #27A844;
}
.status.inactive {
    background-color: #DC3544;
}
.cursor {
    cursor: pointer;
}
@media(max-width:600px) {
    .list-table-format-Category {
        grid-template-columns: 1fr 3fr ;
        gap: 15px;
    }
    .list-table-format-Category.title {
        display: none;
    }
}
.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.filter-buttons button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-blue {
    background-color: #007bff;
}
.btn-blue:hover {
    background-color: #0056b3;
}
.btn-green {
    background-color: #27A844;
}
.btn-green:hover {
    background-color: #006400;
}
.btn-red {
    background-color: #DC3544;
}
.btn-red:hover {
    background-color: #b30000;
}
